.navbar-inverse{
    height: auto;
}
.navbar-inverse button{
    margin-top: 10px;
}
.navbar-inverse .navbar-brand{
    font-family: Times;
    color:black;
    font-size: 30px;
}
body {
    background: #cedfd9;
}

.btn-outline-secondary:hover{
    background: #b8caca;
    border: white solid 1px;
}

div.container-fluid.row>div#myFilter.col-xs-12.col-sm-3>button {
    width:90%;
    background:#ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    color:#222222;
    padding: 10px;
    cursor:pointer;
    margin: 7px;
    font-weight: normal;
    font-size: 12pt;
    border: solid lightgray 1px;
    border-radius: 3px;
}
div.container-fluid.row>div#myFilter.col-xs-12.col-sm-3>button:active{
    border: solid lightgray 1px;
}
div.container-fluid.row>div#myFilter.col-xs-12.col-sm-3>button:hover{
    background: lightblue;
}

#myProducts{
    border-left: lightgray solid 1px;
}

.each-item
{
    position:relative;
    overflow:hidden;
    width: 22%;
    height: 250px;
    float: left;
    margin: 10px 1.5%;
    cursor: pointer;
    padding: 1%;
}
.each-item:hover{
    outline: none;
    border-color: #158dff;
    box-shadow: 0 0 10px #158dff;
    transition: all 0.5s;
}
.port-image
{
    width: 100%;
    height: 65%;
}

.title{
    font-weight: bold;
    margin-top: 10%;
}
div#header>div>div#myCarousel.carousel.slide>div.carousel-inner>div.item>img{
    transition: all 0.5s;
}
@media all and (max-width: 1000px){
    .logo{
        display: none;
    }

    nav.navbar.navbar-inverse > div.container-fluid > div#menu.collapse.navbar-collapse {
        float: left;
    }

    nav.navbar.navbar-inverse>div.container-fluid>div#logSignbigger.navbar-btn.bigger{
        display: none;
    }
    nav.navbar.navbar-inverse > div.container-fluid > div.navbar-header>div#logSignsmaller.navbar-btn.smaller{
        display: inline-block;
    }

    nav.navbar.navbar-inverse > div.container-fluid >div.navbar-header> div#userTabsmaller.navbar-btn.smaller{
        display: inline-block;
    }

    nav.navbar.navbar-inverse > div.container-fluid > div#userTabbigger.navbar-btn.bigger{
        display: none;
    }
    div#header>div>div#myCarousel.carousel.slide>div.carousel-inner>div.item>img{
        height: 250px;
    }
    .each-item {
        width: 30%;
        margin: 10px 1.5%;
    }
}
@media all and (max-width: 767.5px){
    div.container-fluid.row>div#myFilter.col-xs-12.col-sm-3>button{
        float: left;
        width: auto;
    }
    #myProducts{
        border-top: lightgray solid 1px;
        border-left: none;
    }
}
@media all and (max-width: 700px){
    div.container-fluid.row>div#myFilter.col-xs-12.col-sm-3>button{
        float: none;
        width: 90%;
    }
    .each-item {
        width: 45%;
        margin: 10px 1.5%;
    }


}
@media all and (max-width: 450px){
    .each-item {
        width: 95%;
        margin: 10px 2.5%;
    }
    div#header>div>div#myCarousel.carousel.slide>div.carousel-inner>div.item>img{
        height: 150px;
    }
}
@media all and (min-width: 1001px) {
    nav.navbar.navbar-inverse > div.container-fluid > div#menu.collapse.navbar-collapse {
        float: right;
    }
    nav.navbar.navbar-inverse>div.container-fluid>div#logSignbigger.navbar-btn.bigger{
        display: inline-block;
    }
    nav.navbar.navbar-inverse > div.container-fluid > div.navbar-header>div#logSignsmaller.navbar-btn.smaller{
        display: none;
    }

    nav.navbar.navbar-inverse > div.container-fluid >div.navbar-header> div#userTabsmaller.navbar-btn.smaller{
        display: none;
    }

    nav.navbar.navbar-inverse > div.container-fluid > div#userTabbigger.navbar-btn.bigger{
        display: inline-block;
    }
    div#header>div>div#myCarousel.carousel.slide>div.carousel-inner>div.item>img{
        height: 320px;
    }
}

div.container-fluid.row>div#myFilter.col-xs-12.col-sm-3>button.btnactive{
    background: #2060ff;
    color: white;
    font-weight: bold;
}